@model IEnumerable<OnSales.Common.Entities.Country>

@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br />
<br />
<table id="example" class="mdl-data-table" style="width:100%;position:relative;">
    <thead>
        <tr>
            <td>
                <a id="button_add" asp-action="AddOrEdit" style="color: #64B5F6;" class="material-icons">add_box</a>
                <span style="" id="info">Agregar País</span>
            </td>
        </tr>
        <tr>
            <th>Bandera</th>
            <th>Pais</th>
            <th>NO° Estados</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr id="row_@item.Id">
            <td>
                <img src="@item.ImageFullPath" class="cell-img"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EstatesNumber)
            </td>

            <td>
                <a id="button_details" asp-action="Details" asp-route-id="@item.Id" style="color: #64B5F6;" class="material-icons">read_more</a>
                <a id="button_edit" asp-action="AddOrEdit" asp-route-id="@item.Id" style="color: #64B5F6;" class="material-icons">edit</a>
                <a id="delete-button" style="color: #d32f2f;" class="material-icons" onclick="Delete('@item.Name.ToString()', '@item.Name.ToString()',@item.Id);">delete</a>
            </td>
        </tr>

        }

    </tbody>
</table>
<partial name="_ViewPageDelete" />
@section scripts{<script src="~/js/jsIndexFunctions.js" type="text/javascript"></script>
<script src="~/js/jsDeleteEstates.js" type="text/javascript"></script>;}